{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h1 class= "text-warning mb-5 border-bottom"> Contact Us</h1>

    <div class="row text-center text-white mb-5">
        <p class = "mx-auto mb-5">
            Do you have any questions? Please do not hesitate to 
            Contact. I will come
            back to you within a matter of hours to help you.
        </p>
        <div class="col-sm-4">
            <i class="fa-solid fa-phone fa-2x mb-3 i-color"></i>
            <h5>+91 7984751255</h5>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-location-dot fa-2x mb-3 i-color"></i>
            <h5>B/604 vedant sky nikol ahemedabad</h5>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-envelope fa-2x mb-3 i-color"></i>
            <h5>raviukani74@gmail.com</h5>
        </div>
</div>
{% endblock content %}